
.div-card-items {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    width: fit-content;      /* Largeur ajustée au contenu */
    border: 2px solid #31717C ;
    color: #000000;         //  color de texte 
    padding: 1.5rem 3rem;   //marge entre texte et le cadre
    border-radius: 2rem;
    font-size: 20px;      // texte 
    text-align: center;
    box-shadow: 0 10px 30px rgba(74, 144, 164, 0.3); // reflet de box 
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
   position:relative;
 
}