.home-btn {
  font-size: 48px;       /* taille grande */
  color: white;          /* couleur personnalisée */
  background: #5f9ea0;    /* fond transparent */
  border: 2px solid #5f9ea0; /* contour bleu-vert */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s;
}
.home-btn:hover {
  transform: scale(1.2);      /* effet zoom au survol */
  background: #5f9ea0;        /* fond bleu-vert */
  color: white;               /* flèche devient blanche */
}

