.card {

  display: flex;
  flex-direction: row;       
  justify-content: center;     
  align-items: center;        
  gap: 20px;                
  flex-wrap: wrap;  

}
.card-items {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    width: fit-content;      
    border: 2px solid #31717C ;
    color: #000000;      
    padding: 1rem 1rem;      
    border-radius: 1rem;
    font-size: 18px;         
    text-align: center;
    box-shadow: 0 10px 30px rgba(74, 144, 164, 0.3); 
    margin-bottom: 1rem;
 
}

.pie-label {
  font-size: 16px !important;

}

/* Tooltip container */
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
    border-top : 11px solid #3b7d87;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  
  }
  background: #3b7d87 !important;
  color: #fff !important;
  border-radius: 8px;
  text-align: center;
  padding: 0px 10px;
  align-items: center;
  justify-content: center;
}

/* Label COUNTRY */
ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-label {
  display: block;
  margin-bottom: 4px;
  font-size: 20px;
}

/* Value (avec icône avant) */
ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-val {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajout icône ruban SVG avant la valeur */
ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-val::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0; /* pas d’espace entre l’icône et la valeur */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'><path d='M12 2a7 7 0 0 0-7 7c0 3.87 3.13 7 7 7s7-3.13 7-7a7 7 0 0 0-7-7zm0 18l-4 2v-6.7c1.2.55 2.5.7 4 .7s2.8-.15 4-.7V22l-4-2z'/></svg>") no-repeat center;
  background-size: contain;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* espace entre gauche et droite */
  flex-wrap: wrap; 
  padding: 1rem 2rem;
  position: relative; /* nécessaire pour centrer le titre en absolu */
}

.header-container app-title {
  display:flex;
  flex-wrap: wrap; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* centre parfaitement */
}
/*supprimer le circle de name dans chart line tooltips */
// ngx-tooltip-content.ngx-charts-tooltip-content {
//   display: none !important;
// }

// Ou pour cacher seulement certains éléments
ngx-tooltip-content.ngx-charts-tooltip-content .tooltip-label::before  {
  content: none !important;
}